footer {
    background-color: #686de0;
    border-radius: 0px 0px 15px 15px;

    .avatar {
        position: absolute;
        left: 125px;
        top: 275px;
        img {
            @include ImgCrop;
          }
      }
    p {
        text-align: center;
    }
    .name {
        padding-top: 25px;
        font-size: 30px;
        color: $background;
        margin-bottom: 5px;
    }
    .website {
        font-size: 20px;
        color: gray;
        margin-top: 0px;
    }
}