body {
  display: flex;
  flex-wrap: wrap;
  background-color: #c3cfe2;
  justify-content: center;
}

.container {
  position: relative;
  padding: 20px;
  &:hover {
    .overlay {
      opacity: 1;
    }
  }
  img {
    border-radius: 10%;
  }
}

.overlay {
  transition: opacity 0.5s ease;
  height: 300px;
  width: 300px;
  position: absolute;
  border-radius: 10%;
  background-color: steelblue;
  opacity: 0;
  button {
    position: absolute;
    left: 110px;
    top: 120px;
  }
}